[Unit]
Description=System Health Check (Disk + Load)
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitor_system.sh

[Install]
WantedBy=multi-user.target
